body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balls {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
}

.ball {
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin: 0 10px;
  transform: rotate(-45deg);
  transition: 0.5s;
  width: 50px;
}

.ball:hover {
  border-radius: 50% 50% 50% 0;
}

.score-board {
  margin: 16px;
}

.line {
  margin: 10px;
}

.buttons {
  margin: 10px;
}

#rgb-color {
  display: inline-block;
  background: -webkit-linear-gradient(0deg, black, black,red, red,green, green,blue, blue);
  text-decoration: line-through;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}